/* Stylesheet for the http.nasse app */

/* 
* {
    border: wide rgb(255, 0, 238);
} */

#screen {
    background: $panel-darken-1;
}

#main {
    height: 100vh;
}

#options-language-notice {
    margin-left: 1;
    opacity: 0.75;
}

.pane {
    height: 100vh;
    /* margin-top: -3; */
    overflow: auto;
    padding: 0;
}

.input {
    border: blank;
    padding: 0;
    margin-left: -1;
    margin-bottom: -1;
    background: $panel;
}

.result-static {
    margin-top: 1;
}

.service {
    margin-top: 2;
    opacity: 0.5;
    text-align: end;
}

.text-container {
    width: 100%;
    height: auto;
    padding: 0 1;
    background: $panel;
    border: tall $primary;
    margin: 1 0;
}
